<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogFileDir" value="C:\LOG\" />
    <add key="MessagebirdUsername" value="ENMG"/>
    <add key="MessagebirdPassword" value="jhhd663883j4j4hhsd663hh3"/>
    <add key="MessagebirdSender" value="+31610301097"/>
    <add key="MessagebirdUrl" value="http://api.messagebird.com/api/sms"/>
    <add key="MessagebirdMode" value="0"/>
    <add key="AwsSesSmtpUserName" value="AKIAJW6ZNAZL7I6INZ6Q"/>
    <add key="AwsSesSmtpPassword" value="AloBrDj384nZkIJSd5+CiCSh7z/4PJu0/P+ZE1KQStx6"/>
    <add key="SmtpHost" value="email-smtp.eu-west-1.amazonaws.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpSsl" value="true"/>
    <add key="SmtpAuthReq" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>